body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

body {
    font-family: helvetica, arial, freesans, clean, sans-serif;
}

.error, .notice, .success {
    padding: .8em;
    margin-bottom: 1em;
    border:2px solid #ddd;
}
.error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}
.notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}
.success {
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}
.error a {
    color:#8a1f11;
}
.notice a {
    color:#514721;
}
.success a {
    color:#264409;
}

.errorlist li {
    color: #8a1f11;
    font-weight: bold;
}

#header {
    height: 80px;
    margin: 0 auto 20px;
    width: auto;
    min-width: 950px;
    background: whiteSmoke;
    border-bottom: 1px solid #d9d9d9;
}

#header-inner {
    margin: 0 auto;
    min-width: 920px;
    overflow: hidden;
    padding: 0 3em;
    text-align: left;
}

#header .logo {
    margin-top: 20px;
}

#header .logo span {
    font-size: 1.8em;
    font-weight: bold;
    color: #555;
}

#main {
    margin: 0 auto;
    min-width: 920px;
    overflow: hidden;
    padding: 0 3em;
    text-align: left;
}

#content {
    overflow: hidden;
    width: 68%;
}

.fieldset {
    border: 1px solid #d9d9d9;
    margin: 0 0 10px;
}

.fieldset p {
    color: #666;
    font-size: 12px;
    padding: 7px 10px;
}

.fieldset .meta {
    background: #e9e9e9;
    border-bottom: 1px solid #d9d9d9;
    color: #666;
    padding: 7px 10px;
}

.meta .label {
    float: left;
}

.meta .desc {
    text-align: right;
}

.input {
    background: whiteSmoke;
    padding: 10px;
}

.input textarea {
    height: 300px;
    border: 1px solid #bbb;
    border-bottom-color: #ddd;
    border-right-color: #ddd;
    font-family: Monaco, 'Courier New', 'Dejavu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 12px;
    height: 300px;
    width: 97.5%;
    padding: 2px 4px;
}

.input textarea:focus {
    border-color: #aaa #bbb #bbb #aaa;
    border-right-color: #bbb;
    border-bottom-color: #bbb;
}

.meta input {
    background: #f9f9f9;
    border: 1px solid #ddd;
    color: #666;
    font-family: Monaco, 'Courier New', 'Dejavu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    padding: 2px;
    width: 200px;
}


.meta input:focus {
    background: white;
    border-color: #ccc;
}

.bottom {
    text-align: right;
}

.buttons {
    text-align: right;
}

#template-context textarea {
    height: 90px;
}


